.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15% auto;
    /* 15% from the top and centered */
    background-color: #fefefe;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 10px;
    width: 500px;
    /* Could be more or less, depending on screen size */
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.save-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #42AAFF;
    border: 2px solid #42AAFF;
    background-color: white;
    border-radius: 10px;
    height: auto;
    margin: 0;
    font: 16px;
    font-weight: bold;
    padding: 10px;
    transition: background-color .3s, color .3s;
}

.save-button:hover {
    background-color: #42AAFF;
    color: white;
}